<ion-content>
	<ion-row  class="defaultSize" id='nueve'>

	</ion-row>
	<ion-row class="defaultSize" id="ocho">

	</ion-row>
	<ion-row  class="defaultSize" id="siete"> 

	</ion-row>
	<ion-row  class="defaultSize" id="seis">

	</ion-row>
	<ion-row  class="defaultSize" id="cinco">

	</ion-row>
	<ion-row  class="defaultSize" id="cuatro">

	</ion-row>
	<ion-row  class="defaultSize" id="tres">

	</ion-row>
	<ion-row  class="defaultSize" id="dos">

	</ion-row>
	<ion-row  class="defaultSize" id="uno">

	</ion-row>
	<ion-row  class="defaultSize" id="cero">

	</ion-row>
	<ion-row  class="defaultSize" id="unoNEG">

	</ion-row>
	<ion-row  class="defaultSize" id="dosNEG">

	</ion-row>
	<ion-row  class="defaultSize" id="tresNEG">

	</ion-row>
	<ion-row  class="defaultSize" id="cuatroNEG">

	</ion-row>
	<ion-row  class="defaultSize" id="cincoNEG">

	</ion-row>
	<ion-row  class="defaultSize" id="seisNEG">

	</ion-row>
	<ion-row  class="defaultSize" id="sieteNEG"> 

	</ion-row>
	<ion-row  class="defaultSize" id="ochoNEG">

	</ion-row>

</ion-content>
